Delivering secure, end-to-end IoT connectivity is no easy task, and properly integrating this support with an operating system is critical to delivering a secure product. Most developers would prefer to concentrate on their part of the solution while leaving the IoT management and security to others. The challenge is that many players are involved, so doing this from scratch is possible but painful, time-consuming, and expensive.
